.home {
    position: relative;
    top: 60px;
}



.home-images-header {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    position: relative;
    background: linear-gradient(53deg, rgba(196, 69, 74, 1) 35%, rgba(111, 150, 184, 1) 65%);
    z-index: 2;
}


.home-image {
    object-fit: scale-down;
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 2;

}

.home-image-container::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 50px;
    width: 100%;
    bottom: -5px;
    left: 0;
    filter: blur(4px);
    z-index: 0;
}

.home-products-container {
    padding-left: 20px;
    padding-right: 20px;
}


.home-sneakers-title-container {
    margin-left: 60px;
}

.home-sneakers-heading {
    font-size: 34px;
    margin-bottom: 10px;
}

.home-sneakers-count {
    color: rgb(100, 100, 100);
    font-size: 22px;
    margin-top: 0;
    font-weight: 500;
}

.home-sort-filter-container {
    display: flex;
    align-items: end;
    width: 380px;
    justify-content: space-between;
    margin-left: 60px;

}

.btn-filter {
    border: none;
    border-bottom: 1px solid rgb(50, 50, 50);
    background-color: transparent;
    width: 150px;
    text-align: start;
    letter-spacing: 1px;
}

.sort-container {
    width: 200px;
}

.form-select {
    border: none;
    border-bottom: 1px solid rgb(50, 50, 50);
    padding-left: 0;
    border-radius: 0
}

.home-products-grid-container {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px 300px 300px;
    column-gap: 20px;
    row-gap: 20px;
}

.card {
    width: 300px;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-out;
    background-color: rgb(230, 230, 230);
}



.heart-icon {
    position: relative;
    height: 20px;
    width: 12px;
    background: rgb(50, 50, 50);
    border-radius: 100px 100px 0 0;
    transform: rotate(45deg);
    cursor: pointer;
    margin-top: 16px;
    margin-left: 270px;
}

.heart-icon:before {
    content: '';
    position: absolute;
    background: rgb(50, 50, 50);
    height: 20px;
    width: 12px;
    transform: rotate(-90deg);
    border-radius: 100px 100px 0 0;
    left: -5px;
    top: 5px;
}

.heart-icon:hover {
    background: red;
}

.heart-icon:hover::before {
    background-color: red;
}



.card-img-top {
    width: 300px;
    height: 200px;
    object-fit: scale-down;
}

.card-body {
    position: relative;
    height: 200px;
}

.card-body::after {
    content: '';
    width: 260px;
    height: 1px;
    background-color: rgb(50, 50, 50);
    position: absolute;
    top: 0;
    left: 20px;
}



.card-title {
    font-size: 16px;
    color: rgb(100, 100, 100);
    font-weight: 500;
}

.card-price {
    font-size: 16px;
    color: rgb(50, 50, 50);
    font-weight: 600;
    
}

#old-price {
    text-decoration: line-through;
}



.add-btn {
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-weight: 600;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.add-btn:hover {
    color: white;
    background-color: rgb(50, 50, 50);
}


@media screen and (max-width:1800px) {
    .home-products-grid-container {
        grid-template-columns: 300px 300px 300px 300px;
    }
}


@media screen and (max-width:960px) {
    .home-image {
        width: 300px;
        height: 300px;
    }



    .home-images-header {
        height: 250px;
    }


}


@media screen and (max-width:600px) {
    .home-image {
        width: 250px;
        height: 250px;
    }

    .home-images-header {
        height: 220px;
    }

}







@media screen and (max-width:520px) {
    .home-image {
        width: 225px;
        height: 225px;
    }

    .home-images-header {
        height: 200px;
    }


}


@media screen and (max-width:450px) {
    .home-image {
        width: 200px;
        height: 200px;
    }

    .home-images-header {
        height: 185px;
    }

}



@media screen and (max-width:400px) {

    .home-image {
        width: 180px;
        height: 180px;
    }

    .home-images-header {
        height: 170px;
    }

}


@media screen and (min-width:320px) and (max-width:375px) {

    .home-image {
        width: 160px;
        height: 160px;
    }

    .home-images-header {
        height: 160px;
    }

}